.groove-bars-container {
  position: relative;
  height: 200px;
}
.groove-bar {
  position: absolute;
  
  background: #89BFB8; 
  border: 1px solid #fff;
  
  left: 0;
  bottom: 100px;
}

.groove-bar::before {
  content: attr(data-value);
  position: absolute;
  top: -16px;
  left: 16px;
  color: #233;
}