.groove-nav {
  background: #f4f4f4;
  color: #4D5362;
  line-height: 1.5;
  width: 200px;
}

.groove-nav ul {
  padding: 0;
  padding-left: 1.6rem;
  list-style: none;
}
.groove-nav > ul {
  padding-left: 0;
}

.groove-nav div.node-name {
  border-bottom: 1px solid #CDD0D7;
  padding: .8rem;
  cursor: pointer;
  
  position: relative;
}

.groove-nav a {
  text-decoration: none;
  color: #4D5362;
  height: 100%;
  width: 100%;
  display: block;
}

.groove-nav [data-selected=true] {
  background: #fff;
}
.groove-nav [data-selected=true]::after {
  content: '';
  display: block;
  background: #50A0CD;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
